name: release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  publish:
    name: Publish wheels (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            args: --release --skip-existing
            manylinux: 2014
          - os: windows-latest
            args: --release --skip-existing
            manylinux: auto
          - os: macos-latest
            args: --release --skip-existing --universal2
            manylinux: auto
    steps:
      - uses: actions/checkout@v4
      - uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: publish
          args: ${{ matrix.args }}
          manylinux: ${{ matrix.manylinux }}
